.CriarAluno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  
  .imputAluno {
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
    width: 250px;
  }
  
  .botoesAluno {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
  }
  
  .botaoAluno {
    margin: 10px;
  }
  